html {
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--color-text-strong);
  letter-spacing: -.03em;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: var(--color-text);
  line-height: 1.7;
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

.post-intro,
.home-intro {
  font-size: 1.1rem;
  color: var(--color-text-soft);
}
